body{
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(26, 86, 205);
    border-bottom: 2px solid rgb(41, 0, 0);
    transition: 0.3s ease;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: rgb(241, 65, 65);
}
button:active{
    
    background-color: rgb(100, 26, 26);
    transform: translateY(2px);
    border-bottom: 0px solid;
    border-top: 2px solid rgb(41, 0, 0);
}